<!-- BEGIN:main --><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/style.css" type="text/css" rel="stylesheet"/>
    <link href="css/treestyle.css" type="text/css" rel="stylesheet"/>

<title>Quản trị Website Trung tâm máy văn phòng Quang Điện</title>
</head>
<body style="margin:0px;">
<!--<script language="javascript" type="text/javascript" src="../js/jquery.js"></script>-->
<script language="javascript" type="text/javascript" src="../js/jquery-1.4.4.min.js"></script>
<script language="javascript" type="text/javascript" src="../js/jquery.dataTables.js"></script>

<div id="container">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="header">
    <tr>
      <td width="344"><a href="index.php"><img src="images/home_01.jpg" width="344" height="49" alt="" border="0"></a></td>
      <td class="header-bg-top"><a href="logout.php">Thoát</a></td>
    </tr>
  </table>
  <br/><div id="main-body"><div class="a-bg" >#HEADING#</div><!-- END:main -->
