<!-- BEGIN:BENH -->
<div class="row">
    <div class="col-md-6 block-news-related">
        <h2>Cẩm nang phòng bệnh</h2>
        <!-- BEGIN: benh_news -->
        <div class="media">
            <a class="pull-left" href="chitiet.php?id={benh_news.news_id}">
                {benh_news.news_image}
            </a>
            <div class="media-body">
                <h4 class="media-heading">{benh_news.news_title}</h4>
                <span class="help-block">{benh_news.news_created_date}</span>
                <p>{benh_news.news_brief}<a href="chitiet.php?id={benh_news.news_id}" class="readmore">Xem thêm</a></p>
            </div>
        </div>
        <!-- END: benh_news -->
    </div>
    <div class="col-md-6 block-news-related">
        <h2>Dược liệu chữa bệnh xương khớp</h2>
        <!-- BEGIN: duoc_news -->
        <div class="media">
            <a class="pull-left" href="chitiet.php?id={duoc_news.news_id}">
                {duoc_news.news_image}
            </a>
            <div class="media-body">
                <h4 class="media-heading">{duoc_news.news_title}</h4>
                <span class="help-block">{duoc_news.news_created_date}</span>
                <p>{duoc_news.news_brief}<a href="chitiet.php?id={duoc_news.news_id}" class="readmore">Xem thêm</a></p>
            </div>
        </div>
        <!-- END: duoc_news -->
    </div>
    </div>
<!-- END:BENH -->