<!-- BEGIN:FOOTER -->
  <tr>
    <td class="footer" colspan="3" align="center"> <a href="index.php" class="link_bol">Trang chủ</a> | <a href="introduction.php" class="link_bol">Giới thiệu</a> | <a href="product_list.php" class="link_bol">Sản Phẩm</a> | <a href="service.php" class="link_bol">Dịch vụ </a>|  <a href="list_news.php" class="link_bol">Tin tức</a> | <a href="contact.php" class="link_bol">Liên hệ</a>
     <br />
    {footer_content}
    </td>
  </tr>
</table>
  
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-12871459-2");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
<!-- END:FOOTER -->