<!-- BEGIN:HEADER -->
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{title}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory 
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>-->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <header>
            <div id="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6">
                            <h1 id="logo">
                                <a href="#"><img src="img/logo.png" alt=""/></a>
                            </h1>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <strong>Tư vấn : {phone}</strong>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <form action="" class="form-search">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm" placeholder="Tìm kiếm">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-sm" type="button"><i class="glyphicon glyphicon-search"></i></button>
                                    </span>
                                </div><!-- /input-group -->
                            </form>
                        </div><!-- /.col-lg-6 -->
                    </div>

                </div>
            </div>
            <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-main-collapse">
                        <ul class="nav navbar-nav">
                            <li class="{index}"><a href="index.php"><span style="font-size:16px;" class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
                            <li class="dropdown {benh}">
                                <a href="xuongkhop.php" class="dropdown-toggle disabled js-activated" data-toggle="dropdown" role="button" aria-expanded="false">Các bệnh về khớp <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <!-- BEGIN:sub -->
                                    <li><a href="xuongkhop.php?id={sub.category_id}">{sub.category_name}</a></li>
                                    <!-- END:sub -->
                                </ul>
                            </li>
                            <li class={phong}><a href="phongbenh.php">Phòng và chữa bệnh</a></li>
                            <li class={camnang}><a href="camnang.php">Cẩm nang <span class="hidden-sm">bệnh xương khớp</span></a></li>
                            <li class={hoidap}><a href="hoidap.php">Hỏi Đáp</a></li>
                            <li class={tin}><a href="tintuc.php">Tin tức</a></li>
                            <li class={share}><a href="chiase.php">Bệnh nhân chia sẻ</a></li>
                            <li class={contact}><a href="lienhe.php">Liên hệ</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </nav>
        </header>
        <!-- END:HEADER -->
