<!-- BEGIN:MAIN -->
{header_tostring}
<section class="slider">
    <div class="container">     
        <div class="row">
            <!-- main slider carousel -->
            <div class="col-md-8" id="slider">
                <div id="carousel-bounding-box">
                    <div id="myCarousel" class="carousel slide">
                        <!-- main slider carousel items -->
                        <div class="carousel-inner">
                        	
                        <!-- BEGIN: hot_news -->
                            <div class="{row_news.class}item" data-slide-number="{row_news.num}">
                                {row_news.news_image}
                                <div class="carousel-caption">
                                    <a href="chitiet.php?id={row_news.news_id}"><h4>{row_news.news_title}</h4></a>
                                    <p>{row_news.news_brief} <a href="chitiet.php?id={row_news.news_id}" class="readmore">Chi tiết</a></p>
                                </div>
                            </div>
                        <!-- END: hot_news -->
                        </div>
                        <!-- main slider carousel nav controls -->
                        <!--<a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>-->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <!--<a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>-->
                    </div>
                </div>
            </div>
            <!-- thumb navigation carousel -->
            <div class="hidden-sm hidden-xs col-md-4" id="slider-thumbs">
                <!-- thumb navigation carousel items -->
                <ul class="list-unstyled">
                <!-- BEGIN:news -->
                    <li>
                        
                        <div class="media" id="carousel-selector-{row_news1.num}" class="selected">
                            <a class="pull-left" href="chitiet.php?id={row_news1.news_id}">{row_news1.news_image}</a>
                            <div class="media-body">
                                <a class="pull-left" href="chitiet.php?id={row_news1.news_id}"><h4 class="media-heading">{row_news1.news_title}</h4></a>
                                <p>{row_news1.news_brief}</p>
                            </div>
                        </div>
                    </li>
                <!-- END: news -->
                </ul>
            </div>
        </div>
        <!--/main slider carousel-->
    </div>
    </section>
    <section id="main-homepage">
    <div class="container">
        <section class="group-category">
            <a href="camnang.php"><h1><span>Kiến thức</span> bệnh xương khớp</h1></a>
            <div class="row">
                <!-- BEGIN: KT -->
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        {KT.image}
                        <div class="caption">
                            <h3><a href="xuongkhop.php?id={KT.category_id}">{KT.category_name}</a></h3>
                            <ul class="list-unstyled">
                                <!-- BEGIN: NEWS_KT -->
                                <li><a href="chitiet.php?id={news_kt.id}">{news_kt.news_title}</a></li>
                                <!-- END: NEWS_KT -->
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- END: KT -->

            </div>
        </section><!--End .group-category -->
        <section class="group-category multi-group-category">
            <div class="row">
                <div class="col-md-6">
                    <a href="camnang.php?id=112"><h1><span>Cẩm nang </span>Bệnh xương khớp</h1></a>
                    <div class="row">
                        <!-- BEGIN: CN -->
                        <div class="col-md-6">
                            <div class="thumbnail">
                                <img alt="" src="upload/news/{CN.news_image}" class="img-responsive" />
                                <div class="caption">
                                    <h4><a href="chitiet.php?id={CN.news_id}">{CN.news_title}</a></h4>
                                    <p>{CN.news_brief}</p>
                                    <p class="text-right btn-detail"><a href="chitiet.php?id={CN.news_id}" class="btn btn-default" role="button">Chi tiết</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- END: CN -->

                    </div>
                </div>
                <div class="col-md-6">
                    <a href="camnang.php?id=109"><h1><span>Kinh nghiệm </span>Chữa bệnh xương khớp</h1></a>
                    <div class="row">
                        <!-- BEGIN: KN -->
                        <div class="col-md-6">
                            <div class="thumbnail">
                                <img alt="" src="upload/news/{KN.news_image}" class="img-responsive" />
                                <div class="caption">
                                    <h4><a href="chitiet.php?id={KN.news_id}">{KN.news_title}</a></h4>
                                    <p>{KN.news_brief}</p>
                                    <p class="text-right btn-detail"><a href="chitiet.php?id={KN.news_id}" class="btn btn-default" role="button">Chi tiết</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- END: KN -->

                    </div>
                </div>
            </div>
        </section><!--End .group-category -->
        <section id="adv">
            <div class="row">
                <!-- BEGIN:QC -->
                <div class="col-md-8">
                    <img alt="" src="upload/adv/{QC.adv_image}"/>
                </div>
                <!-- END:QC -->
                <div class="col-md-4">
                    <a href="tracnghiem.php"><img alt="" src="upload/adv1.jpg" /></a>
                </div>
            </div>
        </section><!--End #adv-->
        <section>
            <div class="row">
                <div class="col-md-8 block-featured-news">
                    <div class="inner">
                        <a href="http://benhxuongkhop.info/phongbenh.php"><h2><span>Bài thuốc chữa bệnh xương khớp</span></h2></a>
                        <div class="row">
                            <!-- BEGIN: BT1 -->
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <a href="chitiet.php?id={BT1.news_id}"><img alt="" src="upload/news/{BT1.news_image}" class="img-responsive" /></a>
                                    <div class="caption">
                                        <h3><a href="chitiet.php?id={BT1.news_id}">{BT1.news_title}</a></h3>
                                        <p>{BT1.news_brief}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- END: BT1 -->
                            <div class="col-md-6">
                                <!-- BEGIN: BT2 -->
                                <div class="media">
                                    <div class="media-left">
                                        <a href="chitiet.php?id={BT2.news_id}">
                                            <img class="media-object" alt="" src="upload/news/{BT2.news_image}" />
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="chitiet.php?id={BT2.news_id}">{BT2.news_title}</a></h4>
                                    </div>
                                </div>
                                <!-- END: BT2 -->

                            </div>
                        </div>
                    </div>
    
                </div>
                <div class="col-md-4 block-question">
                    <div class="inner">
                        <a href="hoidap.php"><img alt="" src="img/question.png" class="img-responsive" />
                         <h3>Hỏi đáp chuyên gia</h3></a>
                        <div id="carousel-question" class="carousel slide" data-ride="carousel">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                            <li data-target="#carousel-question" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-question" data-slide-to="1"></li>
                          </ol>
    
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner" role="listbox">
                              <!-- BEGIN:HD -->
                              <div class="item{HD.class}">
                                  <p class="question"><a href="chitietchiase.php?id={HD.support_id}">{HD.support_title}</a></p>
                                    <p class="answer">
                                        <strong class="help-block">Trả lời</strong>
                                        <span>{HD.traloi}</span>
                                    </p>
                                </div>
                              <!-- END:HD -->

                            </div>
    
                        </div>
                        <div class="send-question">
                            <a href="hoidap.php">Gửi câu hỏi của bạn</a>
                        </div>
                    </div>
                </div><!--End .block-question-->

            </div>
    
        </section>
        <section>

            <div id="slide-footer" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="3000">
                <h2><span>Các sản phẩm tốt cho bệnh gan</span></h2>
                <ol class="carousel-indicators">
                    <li data-target="#slide-footer" data-slide-to="0" class=""></li>
                    <li data-target="#slide-footer" data-slide-to="1" class=""></li>
                    <li data-target="#slide-footer" data-slide-to="2" class="active"></li>
                </ol>
                <div class="carousel-inner">
                    <!-- BEGIN: SP -->
                    <div class="item {SP.class}">
                        <!--<div class="row">-->
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <img src="upload/products/{SP.product_image}" alt="" class="img-responsive">
                                <h4><a href="chitietsanpham.php?id={SP.product_id}">{SP.product_name}</a></h4>
                                <p>{SP.product_desc}</p>
                            </div>
                        <!--</div>-->
                    </div>
                    <!-- END: SP -->
                </div>
                <a class="left carousel-control" href="#slide-footer" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#slide-footer" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </section>
    </div>
    
    </section>
{footer_tostring}

<!-- END:MAIN -->
