<!-- BEGIN:MAIN -->
{header_tostring}
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <div class="content">
                    <div class="news">
                        <h4><a href="#">{row.news_title}</a></h4>
                        <p><b>{row.news_brief}</b></p>
                        <p>{row.news_image}</p>
                        <p>{row.news_content}</p>
                    </div>

                </div>
            </div>
            {right_tostring}
        </div>

    </div>
    <a href="#" class="scrollToTop"><i class="glyphicon glyphicon-circle-arrow-up"></i></a>
</section>
{footer_tostring}
<!-- END:MAIN -->
