<!-- BEGIN:RIGHT -->
<aside class="col-md-4">
    <div class="block">
        <h2>Bài yêu thích</h2>
        <!-- BEGIN: right_news -->
        <div class="media">
            <a class="pull-left" href="#">
                {right_news.news_image}
            </a>
            <div class="media-body">
                <h4 class="media-heading">{right_news.news_title}</h4>
                <p>{right_news.news_brief}<a href="#" class="readmore">Xem thêm</a></p>
            </div>
        </div>
        <!-- END:right_news -->
    </div>
    <div class="block block-vote">
        <h3>Bình chọn sản phẩm dành cho viêm khớp</h3>
        <!-- BEGIN: SP -->
        <div class="media">
            <a class="pull-left" href="#">
                {SP.product_image}
            </a>
            <div class="media-body">
                <h4 class="media-heading">{SP.product_name}</h4>
                <p class="vote"><strong>Đánh giá: </strong>{SP.rate} lượt thích</p>
                <p class="desc"><strong>Mô tả: </strong>{SP.product_desc}</p>
            </div>
        </div>
        <!-- END: SP -->

    </div>
    <div class="block block-adv">
         <a href="#"><img src="upload/adv1.jpg" alt=""></a>
    </div>
    <div class="block block-video">
        <h4>Video</h4>
        <div class="embed-responsive embed-responsive-16by9">
            <!--<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/rwv-3wZocK4" frameborder="0" allowfullscreen></iframe>-->
        </div>
    </div>
</aside>
<!-- END:RIGHT -->