<!-- BEGIN:MAIN -->
{header_tostring}
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="block-breadcrumb">
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">Trắc nghiệm về xương khớp</a>
                        </li>
                    </ol>
                </div>
                
                <div class="content">
                    <!-- BEGIN: error -->
                    <div class="news" id="alert_msg">
                    	{msg}
                    </div>
                    <!-- END: error -->
                   
                </div>
            </div>
           {right_tostring} 
        </div>
        
    </div>
     <a href="#" class="scrollToTop"><i class="glyphicon glyphicon-circle-arrow-up"></i></a>
    </section>
{footer_tostring}
<!-- END:MAIN -->
