<!-- BEGIN:MAIN -->
{header_tostring}
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="block-breadcrumb">
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">Bệnh nhân chia sẻ</a>
                        </li>
                    </ol>
                </div>
                
                <div class="content">
                    <div class="news">
                    	Có lỗi xảy ra, vui lòng thử lại    
                    </div>
                   
                </div>
            </div>
           {right_tostring} 
        </div>
        
    </div>
     <a href="#" class="scrollToTop"><i class="glyphicon glyphicon-circle-arrow-up"></i></a>
    </section>
{footer_tostring}
<!-- END:MAIN -->
