<!-- BEGIN:MAIN -->
{header_tostring}
<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="block-breadcrumb">
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">Tin tức</a>
                        </li>
                        <li class="active">Sức khỏe đời sống</li>
                    </ol>
                </div>
                
                <div class="content">
                    <div class="news">
                    <!-- BEGIN:tin -->
                        <div class="media item-news">
                            <h4 class="media-heading"><a href="chitiet.php?id={tin.numId}"><span class="glyphicon glyphicon-play-circle"></span> {tin.news_title}</a></h4>
                            <a class="pull-left" href="chitiet.php?id={tin.news_id}">
                                {tin.news_image}
                            </a>
                            <div class="media-body">
                                
                                <p>{tin.news_brief}</p>
                                <a href="chitiet.php?id={tin.numId}" class="readmore pull-right">Chi tiết</a>
                            </div>
                        </div>
                        <!-- END: tin -->
                        {page}
                        
                    </div>
                    
                    {benh_tostring}
                    
                </div>
            </div>
           {right_tostring} 
        </div>
        
    </div>
     <a href="#" class="scrollToTop"><i class="glyphicon glyphicon-circle-arrow-up"></i></a>
    </section>
{footer_tostring}
<!-- END:MAIN -->
